doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/stylesheets/styles.css')
    body
        block content

    //- Load external assets
    script(type='text/javascript' src='/javascripts/assets.js')
    //- Load internal assets
    script(type='text/babel', src='/javascripts/app.js')
    script(type='text/babel' src='/javascripts/redux.js')
    //- Mount the app
    script(type='text/babel').
        var Provider = ReactRedux.Provider;
        ReactDOM.render(
            <Provider store={ store }>
                <App/>
            </Provider>,
            document.getElementById('app')
        );
    //- Debounce function for usage on input
    script(type='text/javascript').
        function throttle(fn, threshhold, scope) {
            threshhold || (threshhold = 100);
            var last, deferTimer;
            return function () {
                var context = scope || this;
                var now = +new Date, args = arguments;
                if (last && now < last + threshhold) {
                    // hold on to it
                    clearTimeout(deferTimer);
                    deferTimer = setTimeout(function () {
                        last = now;
                        fn.apply(context, args);
                    }, threshhold);
                } else {
                    last = now;
                    fn.apply(context, args);
                }
            };
        }
