doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/stylesheets/style.css')
        link(rel='stylesheet', href='/stylesheets/player_styles.css')
        link(rel='stylesheet', href='/stylesheets/chicken_styles.css')
    body
        block content

    //- Load external assets
    script(src='/javascripts/assets.js')
    //- Load internal assets
    script(type='text/babel', src='/javascripts/app.js')

    script(
        src='https://code.jquery.com/jquery-3.1.0.min.js'
        integrity='sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s='
        crossorigin='anonymous'
    )

    //- Load local scripts
    script(src='/javascripts/Keyboard.js')
    script(src='/javascripts/loop.js')
    script(src='/javascripts/Chicken.js')


    //- Load the document driver last
    script(src='/javascripts/index.js')
